@font-face {
    font-family: "normal";
    src: url("/font/Inter-Regular.woff2") ; 
}
@font-face {
    font-family: "italic";
    src: url("/font/Inter-Italic.woff2") ;
}
@font-face {
    font-family: "semi";
    src: url("/font/Inter-SemiBold.woff2") ;
    font-weight: 500;
}
@font-face {
    font-family: "semiItalic";
    src: url("/font/Inter-SemiBoldItalic.woff2") ;
}
@font-face {
    font-family: "bold";
    src: url("/font/Inter-Bold.woff2") ;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
a,li{
    text-decoration: none;
}
body{
    text-decoration: none;
    font-family: Roboto,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #212121;
    line-height: 1.4;
    letter-spacing: normal;
    --webkit-font-smoothing: antialiased;
    background-color: rgb(255, 255, 255);
    scrollbar-width: none;
}
:not(input):not(textarea):not(button) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent
}
.common{
    align-items: stretch;
    border: 0 solid black;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    list-style: none;
    margin: 0px;
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    text-decoration: none;
}
.top{
    /* overflow: hidden; */
    height: auto;
}
.two{
    height: 52px;
}
.topContent{
    color: black;
}
.three{
    font-size: 16px;
    color: #eaeaea;
    display: table;
    table-layout: fixed;
    width: 100%;
    min-height: 52px;
    height: 100%;
}
.bar{
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 42px;
    max-height: 16px;
    line-height: 10px;
    overflow: hidden;
}
.flipkart{
    width: 23px;
    height: 100%;
    
}
.div{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    padding-left: 12px;
}
.mobs{
    text-align: left;
    overflow: auto;
}
.find{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}
.next{
    position: sticky;
    height: 47px;
}
.next-sub{
    border-top-width: 1px;
    height: 47px;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-color: rgb(223, 227, 235);
    border-bottom-width: 0;
}
.next-sub2{
    height: 1px;
    background-color: rgb(234, 234, 234);
}
.css2{
    background-color: rgba(0, 0, 0, 0.00);
    border: 0 solid black;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 1.00);
    display: inline;
    font-family: 'semi';
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: inherit;
    text-decoration: none;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.sort{
    color: rgb(17, 17, 18); 
    margin-left: 8px; 
    font-size: 14px; 
    line-height:20px; 
    letter-spacing: -0.01px; 
    flex-shrink: 1;
}
.next-sub-div{
    flex-direction: row; 
    width: 100%; 
    overflow: hidden; 
    align-self: stretch; 
    align-items: center; 
    justify-content: center;
}
.sortDiv{
    display: flex;
    flex-direction: row; 
    flex: 1 1 0%; 
    height: 48px; 
    align-items: center; 
    justify-content: center;
}

.filter{
    width: 100%;
    /* padding-right: 11px; */
}
.container {
    height: 48px;
    width: 100%;
    padding: 0 0 0 15px;
    margin-top: 9px;
    overflow: scroll;
    scrollbar-width: none;
    justify-content: flex-start;
}

.item {
    display: inline-block;
    flex-direction: row;
    align-items: center;
    min-height: 48px;
    /* min-width: 80px; */
}
.item-1 {
    /* width: 80px; */
    margin-right: 8px;
}
.item-2 {
    /* width: 100.17px; */
    margin-right: 8px;
}
.item-3 {
    width: 108.64px;
    padding-left: 3px;
}
.third{
    height: 40px;
    width: 114px;
}
.item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 4px;
  padding:0 7px 0 4px;
}
.image-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-radius: 14px;
  margin-left: 0;
  margin-right: 4px;
  width: 40px;
  height: 32px;
}
.text-wrapper {
  display: flex;
}
.text-wrapper span {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(33, 33, 33);
  font-size: 12px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-style: normal;
  line-height: 1.55;
}
.edit{
    padding-top: 4px;
}
.bottom-border {
  height: 1px;
}
.links{
    border-bottom: 1px solid #e2dcdc;
}
.link-div{
    margin: 10px 10px 8px; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.link-color{
    white-space: nowrap;
    color: #333333;
    font-family:  Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    letter-spacing: 0.5px;
}
.ads{
    object-fit: cover;
    filter: none;
    opacity: 1;
    width: 100%;
    height: 100%;
    margin: auto;
}
.product{
    border-width: 0px;
    border-style: solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
    z-index: 10;
}
.wishlist{
    margin-top: 7px;
    right: 12px;
    position: absolute;
    align-items: flex-end;
    justify-content: flex-end;
}
.mobile{
    width: 100%;
    flex-flow: column wrap;
    align-items: flex-start;
}
.main{
    flex-flow: wrap;
    flex: 1 1 0%;
    min-height: 154px;
    width: 100%;
    padding: 8px 0;
    justify-content: space-between;
}
.mobile-img{
    justify-content: flex-start;
    align-items: center;
    margin-left: 7px;
    margin-top: 16px;
    height: 120px;
    overflow: hidden;
}
.image{
    filter: none;
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: contain;
}
.name-div{
    flex: 1 1 0%;
    align-items: flex-start;
    padding: 0px 20px 0px 11px;
    margin: 12px 0px 6px 0px;
}
.marg{
    margin-right: 24px;
    margin-bottom: 5px;
    align-self: stretch;
}
.marg .span{
    color: rgb(17, 17, 18);
    overflow: hidden;
    font-family: 'normal';
    font-size: 13.5px;
    line-height: 20px;
    letter-spacing: -0.01px;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.stars{
    flex-direction: row;
    align-items: center;
    margin-bottom: 7px;
}
.assure{
    display: flex;
    position: relative;
    width: 59px;
    height: 16px;
}
.rate{
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-right: 2px;
    margin-top: 2px;
}
.users{
    font-size: 12px;
    line-height: 18px;
    font-family: 'normal';
    color: rgb(113, 116, 120);
    margin-left: 1px;
    padding-bottom: 2px;
}
.offer{
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.offer-flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 1;
    flex-wrap: wrap;
}
.marginR{
    margin-right: 4px;
    display: flex;
    align-items: center;
}
.eight{
    font-size: 16.3px;
    line-height: 24px;
    font-family: 'semi';
    letter-spacing: -0.01px;
    color: rgb(0, 140, 0);

}
.money{
    color: rgb(113, 116, 120);
    text-decoration-line: line-through;
}
.six{
    color: rgb(17, 17, 18);
}
.wrap{
    margin-top: 6px;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}
.wow{
    display: inline-flex;
    position: relative;
    margin-right: 2px;
    align-self: center;
    width: 38px;
    height: 16px;
}
.wow-img{
    width: 100%;
    height: 100%;
}
.offered{
    background-color: rgba(0, 0, 0, 0);
    font-size: 12px;
    color: rgb(6, 31, 128);
    font-family: "Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
    font-style: normal;
    vertical-align: top;
}
.discount{
    padding: 4px;
    border-radius: 2px;
    background-color: rgb(233, 222, 255);
}
.violet{
    background-color: rgba(0, 0, 0, 0);
    font-size: 12px;
    color: rgb(112, 72, 198);
    font-family: "Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
    font-style: normal;
}
.free{
    font-size: 12px;
    color: rgb(0, 0, 0);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-style: normal;
}
.warranty{
    font-size: 12px;
    color: rgb(102, 102, 102);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-style: normal;
}
.detail{
    flex-flow: wrap;
    flex: 1 1 0%;
    padding-right: 8px;
    padding-left: 8px;
}
.specs{
    align-items: center;
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 8px;
    justify-content: center;
    border-width: 1px;
    border-radius: 2px;
    border-color: rgb(213, 215, 219);
    max-width: 228px;
}
.words{
    color: rgb(113, 116, 120);
    font-size: 12px;
    line-height: 18px;
    font-family: 'normal';
    letter-spacing: 0px;
    padding: 4px 8px;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.scroll-div{
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.bg{
    background-color: rgb(82, 55, 190);
    flex-direction: column;
    flex: 1;
}
.saleDeals{
    overflow: hidden;


    display: flex;
}
.saleMargin{
    display: flex;
    justify-content: flex-end;
    padding: 16px 16px;
    margin: 0;
    flex:1;
}
.deals{
    flex: 1 1 0%;
    flex-direction: row;
}
.dealCenter{
    width: 250px;
    justify-content: center;
    flex: 1 1 0%;
    flex-direction: column;
}
.dealCenter span{
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-family: "Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
    font-style: normal;
}
.unbeatable{
    margin-top: 4px;
}
.unbeatable span{
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-style: normal;
    line-height: 16px;
}
.clockDiv{
    display: flex;
    position: relative;
    width: 14px;
    height: 14px;
}
.button{
    border-radius: 18px;
    background: #fff;
    height: 36px;
    width: 36px;
}
.btnBg{
    align-items: center;
    justify-self: center;
    padding-top: 10px;
    padding-left: 9px;
    
}
.arrow{
    width: 16px;
    height: 16px;
}
.scrollMarg{
    padding-left: 12px;
    padding-bottom: 12px;
}
.scroll{
    min-height: 1px;
    min-width: 1px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
}
.scrollDirection{
    display: flex;
    flex-direction: row;
}
.scrollDiv{
    height: 190px;
    width: 1445px;
    flex-direction: row;
}
.scrollOne{
    border-width: 0px;
    border-style: solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius:5px;
    width: fit-content;
    background-color: rgba(255, 255, 255, 1.00);
}
.scrollOneMarg{
    width: 281px;
    flex-wrap: wrap;
    margin: 1px 4px 4px 4px;
}
.scrollTop{
    padding-top: 12px;
    padding-bottom: 8px;
    min-height: 80px;
    display: flex;
}
.scrollPic{
    margin-left: 12px;
}
.scrollImg{
    width: 78px;
    height: 80px;
}
.namePad{
    padding-left: 12px;
    padding-right: 8px;
}
.nameMarg{
    margin-right: 24px;
    margin-bottom: 6px;
}
.vivo{
    max-height: 32px;
    line-height: 16px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    word-break: break-word;
}
.ram{
    display: flex;
    color: rgba(135, 135, 135, 1.00);
    font-size: 12px;
    margin-top: 4px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
.ramBox{
    max-height: 16px;
    -webkit-line-clamp: 1;
}
.rupee{
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.sellingPrice{
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.real{
    font-family: Roboto Medium, Roboto-Medium, Droid Sans, HelveticaNeue-Medium, Helvetica Neue Medium, sans-serif-medium;
    font-size: 12px;
    text-decoration: line-through;
    color: rgba(135, 135, 135, 1.00);
}
.now{
    margin-left: 4px;
    text-decoration: none;
    color: rgba(0, 0, 0, 1.00);
}
.off{
    margin: 4px 0;
    flex-direction: row;
}
.off span{
    color: rgba(75, 181, 80, 1.00);
    font-family: 'semi';
}
.features{
    align-content: center;
    margin: 8px 0 6px 0 ;
    padding: 0 12px 0 4px;
    height: 64px;
    width: 281px;
    display: flex;
    flex-wrap: wrap;
}
.featureCommon{
    border: 1px solid rgba(240, 240, 240, 1.00);
    border-radius: 2px;
    text-align: center;
    line-height: 15px;
    margin-bottom: 8px;
    width: 124.5px;
    margin-left: 8px;
    align-items: center;
    justify-content: center;
    height: 24px;
    overflow: hidden;
    text-align: middle;
    text-overflow: ellipsis;
}
.screen{
    max-width: 100%;
    white-space: nowrap;
    font-family: Roboto Medium, Roboto-Medium, Droid Sans, HelveticaNeue-Medium, Helvetica Neue Medium, sans-serif-medium;
    text-align: middle;
    text-overflow: ellipsis;
    padding: 0 8px;
    word-wrap: normal;
    color: rgba(135, 135, 135, 1.00);
}

.sort-modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity: 0;
    pointer-events: none;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}
.sort-modal.active {
    background-color: rgba(0, 0, 0, 0.32);
    opacity: 1;
    pointer-events: auto;
}

.sort-card {
    width: 100%;
    background: hsl(0, 0%, 100%);
    padding-bottom: 25px;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(100%);
    transition: transform 0.3s ease;                       
}
.sort-modal.active .sort-card {
    transform: translateY(0%);
}

.sort-header {
  margin: 12px;
  font-size: 14px;
  color: #878787;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.down{
    padding: 6px 12px;
}
.drop{
    font-family: Roboto Medium, Roboto-Medium, Droid Sans, HelveticaNeue-Medium, Helvetica Neue Medium, sans-serif-medium;
    font-size: 14px;
    display: inline;
}
.sort-options li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin: 0 8px 5px 0;
}
.sort-options label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 15px;
  color: #212121;
  cursor: pointer;
}
.sort-options label span {
  flex-grow: 1;
  text-align: left;
}

.hidden {
  display: none;
}
.select{
    display: inline;
}
.selected{
    display: none;
}
.rin{
    display: flex;
    position: relative;
    margin-right: 8px;
    margin-top: 2px;
    justify-content: flex-end;
    align-items: flex-end;
    opacity: 1;
    width: 16px;
    height: 16px;
}
.rin img{
    filter: none;
    opacity: 1;
    transition: filter 0.5s ease-in-out, opacity 0.5s ease-in-out;
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: contain;
}
.checkbox-input{
    visibility: hidden;
    position: absolute;
}



                            /* filter */


.nav{
    display: flex;
    position: fixed;
    height: 52px;
    width: 100%;
    align-items: center;
    z-index: 100;
    background-color: #fff;
}
.back-arrow{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    max-height: 52px;
    line-height: 10px;
    width: 42px;
    position: relative;
    overflow: hidden;
    padding-left: 5px;
}
.heading{
    width: 100%;
    padding-left: 16.5px;
    
}
.heading h1{
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    height: 19px;
}
.bottom-nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    height: 56px;
    background-color: #fff;
    font-family: "Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
    z-index: 100;
}
.bottom-margin{
    margin: 8px 8px 8px 16px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 24px)
}
.apply{
    padding: 11px 68px 0 65px;
    background-color: rgb(255, 88, 0);
    border-radius: 2px;
    min-height: 40px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    letter-spacing: normal;
}
.found{
    flex-direction: column;
    flex: 1 1 0%;
}
.page{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding-top: 52px;
    height: 875px;
}
.leftBar{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 33.33%;
    background-color: rgb(241, 243, 246);
    height: 100%;
    padding-bottom: 56px;
}
.leftBarContents{
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none;
}
.optionOne{
    height: 56px;
    overflow: hidden;
    width: 100%;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.optionPad{
    background-color: rgb(255, 255, 255);
    padding: 12px 8px 12px 16px;
    justify-content: space-between;
    flex-direction: row;
}
.optionSelected{
    line-height: 20px;
    color: rgb(40, 116, 240);
    /* margin-right: 8px; */
    font-size: 14px;
}
.optionSelect{
    height: 74px;
    width: 93px;
    color: rgb(0, 0, 0);
    line-height: 20px;
    margin-right: 8px;
    font-size: 14px;
    overflow-y: hidden;
    overflow-x: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
}
.optionBg{
    background-color: rgb(241, 243, 246);
}

.rightBar{
    width: 66.67%;
    height: 767px;
    overflow: hidden;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contentBefore{
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
    scrollbar-width: none;
    overflow-y: auto;
    overflow-x: hidden;
}
.contentBox{
    /* height: 240px; */
    width: 213px;
}
.boxOne{
    height: 48px;
    overflow: hidden;
    width: 213px;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 0px;
    min-width: 0px;
}
.boxPad{
    padding: 12px 18px 12px 19px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
}
.selector{
    max-width: 100%;
    color: #000;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    word-wrap: normal;
    font-size: 14px;
    overflow: hidden;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    letter-spacing: 0.02px;
}
.holder{
    display: flex;
    position: relative;
    margin-right: 19px;
    height: 18px;
    width: 18px;
    margin-bottom: 1px;
}
.ticked{
    display: none;
}
.viewMore{
    padding: 8px 16px;
}
.viewMoreText{
    color: rgb(42, 85, 229);
    font-family: "Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
    font-size: 14px;
    line-height: normal;
}
.search{
    margin: 8px 16px; 
    padding: 13px 12px;
    height: 40px;
    border: 1px solid rgba(233, 233, 233, 1.00);
    flex-direction: row;
    align-items: center;
}
.lensDiv{
    display: flex;
    height: 18px;
    width: 18px;
    margin-right: 10.5px;
}
.lens{
    object-fit: contain;
    height: 100%;
    width: 8px;
    display: block;
}
.searchBar{
    color: #9b9b9b;
    border: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    letter-spacing: normal;
    outline: none;
}
input::placeholder{
    color: #9b9b9b;
}
.filterPopup{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 9999;
    transition: background-color 0.3s ease;
    display: none;
    justify-self: center;
    align-items: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    /* opacity: 0; */
    /* pointer-events: none; */
}
.filterPopup.active {
    display: flex;
    background-color: rgba(0, 0, 0, 0.32);
    opacity: 1;
    pointer-events: none;
}

.total{
    position: fixed;
    bottom: 0;
    /* height: 283px; */
    background-color: #fff;
    width: 100%;
    /* transform: translateY(100%);  */
    /* opacity: 0; */
    transition: transform 0.1s ease-in, opacity 0.1s ease-in;
}
.total.show {
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.2s ease-in, opacity 0.2s ease-in;
}
.total.hide {
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
}
.clearHeading{
    height: 56px;
    display: flex;
    flex-direction: column;
}
.added{
height: 52px;
}
.clearTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cross{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    width: 42px;
    max-height: 16px;
    line-height: 10px;
    margin: 0 auto;
}
.shadowBar{
    height: 4px;
    width: 100%;
    display: flex;
}
.clear{
    text-align: left;
    overflow: auto;
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding-left: 12px;
}
.question{
    padding: 12px 16px 16px 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.header{
    font-size: 16px;
    line-height: normal;
    color: rgb(33, 33, 33);
    font-family: "Roboto Medium", Roboto-Medium, "Droid Sans", HelveticaNeue-Medium, "Helvetica Neue Medium", sans-serif-medium;
}
.would{
    color:rgb(135, 135, 135) ;
    line-height: 16px;
    max-height: 16px;
    line-clamp: 1;
    word-break: break-word;
    margin-top: 4px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}
.clearOptions{
    padding: 0 16px 16px;
    flex-direction: column;
}
.clearBtn{
    margin-top: 16px;
    flex-direction: row;
    flex: 1 1 0%;
}
.btnpad{
    padding: 12px 0;
    margin-right: 8px;
    border-radius: 2px;
    border: 1px solid rgb(240, 240, 240);
}
.btnStyle{
    background-color: rgb(40, 116, 240);
    margin-right: 0;
    border: 1px solid rgba(40, 116, 240, 1.00);
    height: 41px;
}
.cancel{
    color: #000;
    text-align: center;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: normal;
}
.clearText{
    color: #fff;
    text-align: center;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: normal;
}
.priceOpt{
    padding: 12px 0;
    flex-direction: row;
}
.priceTick, .brandTick{
    display: none;
}
.clearPrice{
    color: #000;
    margin-left: 16px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: normal;
}
.clearTicked, .clearEmpty{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: auto;
    transition: filter 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.clearEmpty{
    display: none;
}

.itemCountPrice, .itemCountBrand {
  display: inline-block;
  color: #2874F0;
  visibility: visible;
}
